.container {
    display: flex;
    gap: 0.5rem;
    font-family: sans-serif;
}

main {
    width: 75%;
    border: 1px solid pink;
    padding-inline: 1rem;
}

aside {
    border: 1px solid green;
    min-width: 15%;
    padding-inline: 1rem;
}

.hidden {
    /*display: none;*/
    height: 0;
}

.listing {
    transition: all 2s;
}

form {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    background: rgb(254, 230, 234);
    padding-inline: 1rem;
    padding-block-end: 1rem;

}

ul {
    padding-inline: 0;
    margin-inline: 0;
}

li {
    list-style: none;
    margin-block: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: 1px solid black;
    border-radius: 30px;
    
}

label {
    margin-block-start: 0.8rem;
    margin-block-end: 0.3rem;
}

input {
    margin-block-end: 1rem;
}

button {
    margin-block-start: 1rem;
}


.person {
    /*text-decoration: underline;*/
    cursor: pointer;
}

dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

dd, dt {
    margin-inline: 0;
    margin-block: 1rem;
}